<header>
    <nav class="navbar">
        
        <a class="nav-link" href="{% url 'home' %}">
            <img class="logo" src="/app/static/img/sic.svg" alt="Logo" />
        </a>
          
        {% if tipo_usuario %}
            <p class="fw-bold">Bem vindo, <span class="fw-bold">{{ user.username }}</span> {{user.id}}</p>
        {% else %}
            <p>Você não está autenticado.</p>
        {% endif %} 
                
                
        <ul class="nav-items">
            {% if user.is_authenticated %} 
                {% if tipo_usuario == 'Escola' %}
                    <li class="nav-item">
                        <a href="{% url 'cadastrar_aluno' %}">Escola</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'selecionar_aluno' %}">Lista de alunos</a>
                    </li>
                {% endif %} 
                {% if tipo_usuario == 'Aluno' %}
                    <li class="nav-item">
                        <a href="{% url 'login_acesso_aluno' %}">Aluno</a>
                    </li>
                        
                {% endif %}                 
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %} 
                <li class="nav-item">
                    <a href="{% url 'cadastrar_aluno' %}">Escola</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'login_acesso_aluno' %}">Aluno</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a href="{% url 'instrucoes' %}">Instruções</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'faq' %}">Dúvidas Frequentes</a>
            </li>

        </ul>   
    </nav>
</header>