{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- código para importar o css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Descomente esse código para usar bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login</title>
</head>

<header>
    <nav class="navbar">
        <img class="logo" src="" alt="Logo" />

        <ul class="nav-items">
            <li class="nav-item">
                <a href="{% url 'home' %}">Home</a>
        </ul>   
    </nav>
</header>


<body class="homeBody">

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center dark-heading">Login</h2>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            {% csrf_token %}
                            {% if error_message %}
                            <div class="alert alert-danger">
                                <strong>Erro:</strong> {{ error_message }}
                            </div>
                            {% endif %}
                            <div class="mb-3">
                                <label for="id_username_acessoaluno" class="form-label">Usuário</label>
                                <input type="text" id="id_username_acessoaluno" name="username" maxlength="50" required>
                            </div>
                            <div class="mb-3">
                                <label for="id_password_acessoaluno" class="form-label">Senha</label>
                                <input type="password" id="id_password_acessoaluno" name="password" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Entrar</button>
                            </div>
                        </form>                    
                                  
    
                        <hr class="my-3">
    
                        <p class="text-center">Não possui uma conta?</p>
                        <div class="d-grid">
                            <a href="{% url 'criar_contaaluno' %}" class="btn btn-secondary">Criar Conta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    </body>

</html>