{% extends 'base/layout.html'  %} {% load static %}
{% block body %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>
                Perguntas Frequentes (FAQ) - Sistema SIC
            </h1>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-12">1. Como posso me registrar no Sistema SIC?</dt>
                <dd class="col-sm-12">
                    <p>
                        <span class="fw-bold">Escola:</span> Acesse o site, clique em "Registrar" e preencha as informações.
                        <span class="fw-bold">Aluno:</span> Selecione "Cadastro de Aluno" e preencha o formulário.
                    </p>
                </dd>
                <dt class="col-sm-12">2. O que é necessário para aprovar o cartão de transporte?</dt>
                <dd class="col-sm-12">
                    <p>
                        <span class="fw-bold">Escola:</span> Forneça os dados dos alunos para validação.
                        <span class="fw-bold">Aluno:</span> Preencha corretamente o formulário de solicitação.
                    </p>
                </dd>
                <dt class="col-sm-12">3. Quanto tempo leva para a aprovação do cartão de transporte?</dt>
                <dd class="col-sm-12">
                    <p>
                        O processo de aprovação é geralmente rápido. Após submeter o formulário, aguarde a notificação do sistema.
                    </p>
                </dd>
                <dt class="col-sm-12">4. Quais são os requisitos técnicos para acessar o Sistema SIC?</dt>
                <dd class="col-sm-12">
                    <p>
                        Certifique-se de ter uma conexão à internet. O sistema é acessível a partir de navegadores comuns.
                    </p>
                </dd>
                <dt class="col-sm-12">5. Como faço para recuperar minha senha de acesso?</dt>
                <dd class="col-sm-12">
                    <p>
                        Na página de login, clique em "Esqueceu a senha?" e siga as instruções para redefinir sua senha.
                    </p>
                </dd>
                <dt class="col-sm-12">6. O que acontece após a aprovação do cartão de transporte?</dt>
                <dd class="col-sm-12">
                    <p>
                        O sistema realiza uma busca na SIC e libera as linhas de transporte adequadas com base no endereço fornecido.
                    </p>
                </dd>
                <dt class="col-sm-12">7. Como posso obter suporte técnico?</dt>
                <dd class="col-sm-12">
                    <p>
                        Entre em contato com nosso suporte através de [inserir informações de contato] para assistência rápida.
                    </p>
                </dd>
                <dt class="col-sm-12">8. É seguro fornecer informações pessoais no Sistema SIC?</dt>
                <dd class="col-sm-12">
                    <p>
                        Sim, o sistema prioriza a segurança e privacidade. As informações são comparadas internamente e tratadas com confidencialidade.
                    </p>
                </dd>
                <dt class="col-sm-12">9. O que fazer em caso de problemas técnicos durante o processo?</dt>
                <dd class="col-sm-12">
                    <p>
                        Entre em contato com o suporte técnico imediatamente para orientações sobre a resolução do problema.
                    </p>
                </dd>
                <dt class="col-sm-12">10. Como faço para acompanhar o status da solicitação do cartão de transporte?</dt>
                <dd class="col-sm-12">
                    <p>
                        Faça login no sistema e verifique a seção de status da solicitação para atualizações em tempo real.
                    </p>
                </dd>
            </dl>
        </div>
    </div>
</div>

{% endblock %}