{% extends 'base/layout.html'  %} {% load static %}
{% block body %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center dark-heading">Criar conta da escola</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="col-md-5 d-flex flex-column">
                            <label for="{{ form.username.id_for_label }}" class="form-label">Usuário</label>
                            {{ form.username }}
                        </div>
                        <div class="col-md-5 d-flex flex-column">
                            <label for="{{ form.password.id_for_label }}" class="form-label">Senha</label>
                            {{ form.password }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Criar Conta</button>
                        </div>
                    </form>

                    <hr class="my-3">

                    <p class="text-center">Já possui uma conta?</p>
                    <div class="d-grid">
                        <a href="{% url 'login_escola' %}" class="btn btn-secondary">Entrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
{% endblock %}