{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- código para exportar o css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Descomente esse código para usar bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Página inicial</title>
</head>


<body>

    <h1>Página inicial</h1>

    <a href="{% url 'cadastrar_cliente' %}">Adicionar Cliente</a> <br>
    <a href="{% url 'lista_clientes' %}">Listar Cliente</a>
    
</body>



</html>