{% extends 'base/layout.html'  %} {% load static %}
{% block body %}
 
  <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="w-75">
            <div class="card border-0 shadow-lg rounded-lg">
                <div class="card-header bg-gradient-primary text-white text-center py-3">
                    <h1 class="m-0 dark-heading">{{ user.username }}</h1>
                </div>
                <div class="card-body bg-light rounded-bottom">
                    <div class="d-flex justify-content-left align-items-center mb-1">
                        <span class="input-group-text col-md-4" id="inputGroup-sizing">E-mail</span>
                        <span class="ml-3">{{ user.email }}</span>
                    </div>
                    <div class="d-flex justify-content-left align-items-center mb-1">
                        <span class="input-group-text col-md-4" id="inputGroup-sizing">CPF</span>
                        <span class="ml-3">{{ user.cpf }}</span>
                    </div>
                    <div class="d-flex justify-content-left align-items-center mb-1">
                        <span class="input-group-text col-md-4" id="inputGroup-sizing">Cadastrado na Escola</span>
                        <span class="ml-3">{{ cadastradoEscola }}</span>
                    </div>
                    <div class="d-flex justify-content-left align-items-center mb-1">
                        <span class="input-group-text col-md-4" id="inputGroup-sizing">Status Cartão</span>
                        <span class="ml-3">{{ statusCartao }}</span>
                    </div>
                    <div class="d-flex justify-content-left align-items-center mb-1">
                        <span class="input-group-text col-md-4" id="inputGroup-sizing">Distância até Escola</span>
                        <span class="ml-3">{{ distancia }}</span>
                    </div>
                    <div class="d-flex justify-content-left align-items-center mb-1">
                        <span class="input-group-text col-md-4" id="inputGroup-sizing">Endereço Cadastrado</span>
                        <span class="ml-3">{{ end1 }}</span>
                    </div>
                    <div class="d-flex justify-content-left align-items-center mb-1">
                        <span class="input-group-text col-md-4" id="inputGroup-sizing">Endereço da Escola</span>
                        <span class="ml-3">{{ end2 }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
            
{% endblock %}

