{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- código para importar o css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />

        <!-- Descomente esse código para usar bootstrap -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Página inicial</title>
    </head>

    <body class="homeBody">
        <header>
            <nav class="navbar">
                <img class="logo" src="" alt="Logo" />

                <ul class="nav-items">
                    <li class="nav-item">
                        <a href="{% url 'cadastrar_aluno' %}">Escola</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'area_aluno' %}">Aluno</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Instruções</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Dúvidas</a>
                    </li>
                </ul>   
            </nav>
        </header>

        <main class="content">

            <div class="setor">
                {% if user.is_authenticated %}
                Você está logado como:
                <hr>
                <h5>Nome: {{ user.username }}</h5>
                {% else %}

                Escolas cadastradas:
                <hr>
                {% for contaescola in contaescolas %}
                <h5>{{ contaescola.username }}</h5>
                {% endfor %}
                {% endif %}
            </div>


            <div class="setor">Aluno</div>        
        </main>

        

        <footer>Copyright</footer>
    </body>
</html>
