{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- código para exportar o css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Descomente esse código para usar bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lista de Clientes</title>
</head>



<body>

  <h1>Selecione um Cliente para Editar</h1>



  {% for cliente in clientes %}
  <h5>Nome: {{ cliente.nome }}</h5>
  <h5>Email: {{ cliente.email }}<h5>
  <h5>Sexo: {{ cliente.sexo }}<h5>
  <h5>Data de nascimento: {{ cliente.data_nascimento }}<h5>
  <h5>CPF: {{ cliente.cpf }}<h5>
  <h5>Telefone: {{ cliente.telefone }}<h5>
  <a href="{% url 'editar_cliente' cliente.id %}">Editar cliente</a>
  <hr>
{% endfor %}

    <a href="{% url 'home' %}">Página inicial</a>


</body>



</html>